body h1{
	text-align: center;
}
body h4{
	text-align: center;
}

header{
	text-align: center;
	position: relative;
}

.aulas{
	height: 50px; 
	background:#90C695;
	text-align: center;
	margin:5px;
	border-radius: 10px;
}

nav{
	float: left;
	width: 25%;
	height: 250px; 
	background-color: #51BF7E;
	text-align: center;
	border-radius: 10px;
}

section{
	float: right;	
	width: 75%; 
	height: 250px; 
	background-color: #51CD7E; 
	text-align: center;
	border-radius: 10px;
}

.avaliacao{
	background-color: #90C695; 
	text-align: center; 
	padding-top: 8px;
	padding-bottom: 15px;
	border-radius: 10;
	margin-top: 265px;
	border-radius: 10px;
	z-index: 100;
}

h2{
	text-align: center;
}

hr {
	border:#87D37C solid 5px;
	width: 500px;
	margin: 0 auto;
	margin-bottom: 50px;
}