header{
	height: 50px; 
	background:#90C695;
}

nav{
	float: left;
	width: 25%;
	height: 250px; 
	background-color: #51B47E;
	text-align: center;
	margin: 0;
}

section{
	float: left; 
	width: 75%; 
	height: 250px; 
	background-color: #26A65B; 
	text-align: center;
}

footer{
	width: 100%;
	background-color: #90C695; 
	text-align: center; 
	padding-bottom: 15px;
}

h2{
	text-align: center;
}