html, body{
	margin: 0;
	padding: 0;
}

header{
	position: absolute;
	width: 100%;
	background: no-repeat center;
	height: 500px;
}

header .container{
	width: 100%;
	margin-top: 0;
	height: 60px;
	background: rgba(220,220,210,0.7);
}

header .menu{
	margin-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
}

header li{
	display: inline;
	margin-top: 10px;
	padding: 0 15px;
}

a{
	text-decoration: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	font-size: 17px;
}

a:visited{
	color: #000;
}


header .apresentacao{
	padding-top: 150px;
	text-align: center;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
	opacity: 0.8;
}

h1{
	font-size: 50px;
}

hr{
	border:#87D37C solid 5px;
	width: 500px;
	margin: 0 auto;
	margin-bottom: 50px;
}