html, body{
	margin: 0;
	padding: 0;
}

header{
	position: relative;
	width: 100%;
	background: url('img/home-bg.jpg') no-repeat center;
	height: 500px;
}

header .container{
	width: 100%;
	margin-top: 0;
	height: 60px;
	background: rgba(220,220,210,0.7);
}

header .menu{
	margin-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
}

header li{
	display: inline;
	margin-top: 10px;
	padding: 0 15px;
}

a{
	text-decoration: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	font-size: 1em	;
}

a:visited{
	color: #000;
}


header .apresentacao{
	padding-top: 150px;
	padding-bottom: 250px;
	text-align: center;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
	opacity: 0.8;
}

header .apresentacao h1{
	font-size: 50px;
}

hr{	
	border:rgb(150,150,150) solid 5px;
	width: 500px;
	max-width: 500px;
	min-width: 100px;
	margin: 0 auto;
	margin-bottom: 50px;
}

section{
	margin-top: 50px;
	margin-bottom: 50px;
}